<div class="section mb-3">
    <div class="d-flex">
        <label class="col-2" for="ingredientsName1">Ingredient 1: </label>
        <input class="form-control" id="ingredientsName1" required name="ingredientsName" type="text" placeholder="Enter Ingredients Name"><div class="col-1"></div>
        <label class="col-1" for="ingredientsQuantity1">Quantity: </label>
        <input class="form-control" id="ingredientsQuantity1" required name="ingredientsQuantity" type="number" placeholder="Enter Quantity Here">
    </div>
</div>