<div class="section mb-3">
    <div class="d-flex">
        <label class="col-1"  for="step1">Step 1: </label>
        <textarea class="form-control" id="step1" name="step" type="text" required placeholder="Enter a Step"></textarea>
<!--        <label class="col-1"  for="picture1">Picture</label>-->
<!--        <input class="form-control" id="picture1" name="picture1" accept="image/*" type="file">-->
    </div>
</div>