<div class="utensil mb-3">
    <div class="d-flex">
        <label class="col-2"  for="utensilName1">Utensil 1: </label>
        <input class="form-control" id="utensilName1" required name="utensilName" type="text" placeholder="Enter Utensil Name"><div class="col-1"></div>
        <label class="col-1" for="utensilQuantity1">Quantity: </label>
        <input class="form-control" id="utensilQuantity1" required name="utensilQuantity" type="number" placeholder="Enter Quantity Here">
    </div>
</div>