<div class="container2">
    <h1>Reset Password</h1>
    <form action="/reset" method="post">
        <label for="email">Email: </label>
        <input class="input" id="email" type="email" name="email" required placeholder="Enter email"> <br>
        <input class="btn2 btn2-primary" type="submit" value="Reset">
    </form>
    <a href="/login"><button class="btn2 btn2-secondary">Login</button></a>
</div>
