/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #28457c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b7ece;
}
