 <div class="table-responsive">
  <form method="post" action="/products/add">
    <table class="table table-condensed">
      <tbody>
       <tr>
         <th>Name: </th>
         <td><input type="text" name="name" required placeholder="Enter product name"></td>
       </tr>
       <tr>
         <th>Description: </th>
         <td><input type="text" name="description" required placeholder="Product description"></td>
       </tr>
       <tr>
           <th>Price: </th>
           <td><input type="text" name="price" required placeholder="Price"></td>
       </tr>
       <tr>
           <th>Quantity: </th>
           <td><input type="text" name="quantity" required placeholder="Quantity"></td>
       </tr>
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Save" class="btn btn-success">
           <input type="button" value="Cancel" class="btn btn-danger" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
